*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    background: #191919;
    color: #fff;
}

#header{
    width: 100%;
    height: 100vh;
    background-image: url(Pictures/IMG_1111.png);
    background-size: cover;
    background-position: center;
}

.container-head{
    padding: 10px 10%;
    transition: all 1s ease;
}

.container{
    padding: 10px 10%;
    opacity: 0;
    transition: all 1.8s;
}

.show{
    opacity: 1;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 140px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 23px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #81FFD9;
    position: absolute; 
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 20%;
    font-size: 30px;
    font-size: large;
    transition: 1s ease;
}
.mobile-break { 
    display: none; 
}
.header-text h1{
    font-size: 65px;
    margin-top: 20px
}
.header-text p{
    font-size: 30px;
    margin-top: 20px
}
.header-text h1 span{
    color: #81FFD9;
}
/*------------------ABOUT----------------*/
#about{
    padding: 100px 0;
    color: #fff;
    line-height: 3; /*----CHANGE TEXT HEIGHT----*/
    font-size: 19px;
    
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    margin-top: 20%;
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
    line-height: 2;
}

.sub-title{
    font-size: 50px;
    font-weight: 600;
    color: #fff;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
    font-size: 19px;
}
.tab-links{
    margin-right: 50px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #81FFD9;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 100%;
}

.tab-contents ul li{
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #fff;
    font-size: 17px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/*----------Education and Experience-----------------*/
#education-experience{
    padding: 30px 0;
    line-height: 2;
    color: #fff;
}
.timeline-wrapper{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: -32px 12% -32px;

}
.timeline-row{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.heading{
    font-size: 40px;
    margin: 32px 0;
    display: flex;
    align-items: center;
    gap: 16px;
}
.heading i{
    font-size: 32px;
}
.content-box{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 32px;
    margin: 0 32px;
    background-color: #232323;
    backdrop-filter: blur(20px);
    border: 3px solid #81FFD9;
    border-radius: 16px;
    font-size: 14px;
    transition: .4s ease;
}
.content-box:hover{
    box-shadow: 0 0 25px #81FFD9;
}
.timeline-box{
    display: flex;
    flex-direction: column;
    gap: 32px;
    border-left: 5px solid #fff;
}
.content-box h3{
    font-size: 27px;
    color: #81FFD9;
    font-weight: 700;
}
.content-box:before{
    position: absolute;
    content: '';
    width: 25px;
    height: 25px;
    background-color: #fff;
    border-radius: 25%;
    left: -50px;
    top: 90px;
}
.content-box h4{
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
}
.date{
    font-size: 18px;
    font-weight: 700;
}
.content-box p{
    font-size: 16px;
}
/*----------PORTFOLIO-----------------*/
#portfolio{
    padding: 50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 25px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #81FFD9);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: bold;
    font-size: 27px;
    margin-bottom: 20px;
}
.layer p{
    font-size: 17px;
}
.layer a{
    margin-top: 20px;
    color: #81FFD9;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 25%;
    text-align: center;
    font-size: 30px;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #81FFD9;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}
.btn:hover{
    background: #81FFD9;
}
/*----------CONTACT-----------------*/
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #81FFD9;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #bfbfbf;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #81FFD9;
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background: #81FFD9;
    color: #051726;
    font-size: 17px;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #bfbfbf;
    padding: 15px;
    margin: 15px 0;
    color: #051726;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px;
    background: #232323;
    font-weight: 300;
    margin-top: 20px;
}
/*----------RELAX BUTTON-----------------*/
#landscapeButton {
    padding: 10px 20px;
    display: block;
    margin: 50px auto;
    width: fit-content;
    background-color: #81FFD9;
    outline: none;
    border: 0;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

#landscapeContainer {
    text-align: center;
    margin-top: 20px;
}

video {
    width: 100;
    max-width: 1200px;
    height: auto;
    display: block;
    margin: 0 auto;
}
/*----------CSS-FOR-SMALL-SCREEN-----------------*/
nav .fa-solid{
    display: none;
}

@media only screen and (max-width: 600px){
    #header{
        background-image: url(Pictures/phone-back.png);
        width: 100%;
    }
    .header-text{
        margin-top: 70%;
        font-size: 16px;
        margin-left: -20px;
    }
    .mobile-break { 
        display: inline; 
    }
    .header-text h1{
        font-size: 30px;
    }
    nav .fa-solid{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #81FFD9;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .sub-title{
        font-size: 40px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 16px;
    }
    .header-text p{
        font-size: 16px;
        margin-top: 20px
    }
    .layer a{
        width: 38px;
        height: 38px;
        line-height: 39px;
        font-size: 28px;
        margin-top: 8px;
    }
    video {
        width: 100;
        max-width: 400px;
    
}
#msg{
    color: #fff;
    margin-top: -40px;
    display: block;
}

